@use "../../../styles/mixins" as *;

.root {
  @include ring(0 0 0 1px var(--color-ring-light));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 285px;
  height: 337px;
  padding: 6.93px;
  border-radius: 8px;
  background: var(--color-black-10);
  backdrop-filter: blur(22.5px);
}
