.root {
  overflow: clip;
  background-color: var(--color-primary-400);
  min-height: 790px;

  @include tablet {
    min-height: 1133px;
  }

  @include desktop {
    min-height: 832px;
  }
}

.background {
  z-index: -2;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  max-width: 100%;
  overflow: hidden;
  padding: 0 spacing(4);
}

.backgroundGlow {
  position: relative;
  z-index: -1;
  flex-shrink: 0;
  width: 820px;
  height: 1000px;
  pointer-events: none;
  filter: blur(250px);
  will-change: filter;
}

.backgroundImage {
  object-fit: contain;

  @media print {
    visibility: hidden;
  }
}

.content {
  padding-top: spacing(14);
  pointer-events: none;
}

.header {
  max-width: 560px;
  margin-inline: auto;
  text-align: center;
  pointer-events: auto;
}

.mutedHeading {
  color: color-mix(in srgb, var(--color-bg-base) 50%, transparent);
}

.description {
  display: contents;
  color: var(--color-text-button-primary);
}

.portraitParallax {
  position: absolute;
  aspect-ratio: 732 / 1097;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);

  @include mobile {
    bottom: -48px;
    width: 366px;
  }

  @include tablet {
    top: 202px;
    width: 100%;
    max-width: 732px;
  }

  @include desktop {
    top: 112px;
    width: 732px;
  }
}

.portrait {
  position: relative;
  width: 100%;
  height: 100%;
}

.portraitImage {
  inset: 0;
  object-fit: contain;
  object-position: top;
}

.graphics {
  position: absolute;
  bottom: 154px;
  left: 50%;
  flex-direction: row;
  justify-content: space-between;
  width: 1565px;
  pointer-events: auto;
  transform: translateX(-50%);
  display: none;

  @include desktop {
    display: flex;
  }
}

.graphicsGroup {
  display: flex;
  flex-direction: row;
  gap: spacing(4);
}

.graphic {
  flex-shrink: 0;
}

.graphicsColumn,
.graphicsColumnTight {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.graphicsColumn {
  gap: spacing(4);
}

.graphicsColumnTight {
  gap: 14.18px;
}

.cornerBlurs {
  position: absolute;
  z-index: -1;
  inset: 0;
  pointer-events: none;
  display: none;

  @include desktop {
    display: block
  }
}

.cornerBlur {
  position: absolute;
  top: 0;
  width: 16%;
  height: 100%;
  backdrop-filter: blur(4px);
}

.cornerBlurLeft {
  left: 0;
  mask-image: linear-gradient(to right, var(--color-black) 70%, transparent 100%);
}

.cornerBlurRight {
  right: 0;
  mask-image: linear-gradient(to left, var(--color-black) 70%, transparent 100%);
}

.innerBorderContainer {
  @include inner-border(x, color-mix(in srgb, #F2F2F2 10%, transparent));
  position: absolute;
  inset: 0;
  margin: 0 auto;
  z-index: -3;
}

.backgroundGraphicsTablet {
  aspect-ratio: 343/322;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 185px;
  background-image: url("/images/graphics/facial-analysis-graphics.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: 168px;
  width: 343px;

  @include tablet {
    width: 736px;
    bottom: 160px;
  }

  @include desktop {
    display: none
  }
}
