.root {
  padding: spacing(4);
  border-radius: spacing(3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  backdrop-filter: blur(32px);
  background-color: color-mix(in srgb, #fff 20%, transparent);
}

.imageContainer {
  aspect-ratio: 120/81.23;
  border-radius: spacing(2);
  position: relative;
  isolation: isolate;
  width: 120px;
  overflow: clip;

  > img {
    position: absolute;
    inset: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  color: var(--color-text-button-primary);

  > * {
    width: 100%;
  }
}

.heading {
  @include heading-7;
}

.description {
  @include body-3;
  opacity: 50%;
}
