.sectionBorder {
  @include inner-border(bottom);
}

.contentBorder {
  @include inner-border(x);
}

.header {
  max-width: 700px;
  margin-inline: auto;
  padding-block: spacing(10);
  text-align: center;

  @include mobile {
    padding: spacing(8) spacing(4);

    br {
      display: none;
    }
  }
}

.disabled {
  color: var(--color-text-disabled);
}

.comparisonContent {
  @include inner-border(x);
  padding: spacing(4);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-columns: minmax(0, 1fr);

  @include desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include small-mobile {
    grid-template-columns: minmax(0, 1fr);
  }
}

.cardItem {
  display: flex;
  padding: spacing(4);

  &:nth-child(odd) {
    @include inner-border(right);
  }

  &:nth-child(-n + 2) {
    @include inner-border(bottom);
  }

  @include desktop {
    &:nth-child(-n + 2) {
      @include inner-border(bottom, $width: 0);
    }

    &:not(:last-child) {
      @include inner-border(right);
    }
  }

  @include mobile {
    padding: spacing(2);
  }

  @include small-mobile {
    &:nth-child(odd) {
      @include inner-border(right, $width: 0);
    }

    &:not(:last-child) {
      @include inner-border(bottom);
    }
  }
}

.card {
  width: 100%;
}

.spacer {
  @include inner-border(x);
  height: spacing(30);

  @include mobile {
    height: spacing(12);
  }
}
