/// @example @include heading-4;
@mixin heading-4 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.015em;
}

/// @example @include heading-5;
@mixin heading-5 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.015em;
}

/// @example @include heading-8;
@mixin heading-8 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/// @example @include body-2;
@mixin body-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/// @example @include body-3;
@mixin body-3 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

/// @example @include body-3-zagma;
@mixin body-3-zagma {
  font-family: var(--font-zagma);
  font-size: 1.009244rem;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: -0.005em;
}

/// @example @include body-4-zagma;
@mixin body-4-zagma {
  font-family: var(--font-zagma);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.005em;
}

/// @example @include body-5-zagma;
@mixin body-5-zagma {
  font-family: var(--font-zagma);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.875rem;
}

/// @example @include trim-text;
@mixin trim-text {
  text-box: trim-both cap alphabetic;
}
