.root {
  display: flex;
  flex-direction: column;

  > * {
    text-align: inherit;
  }
}

.gapBase {
  gap: spacing(4);
}

.gapLarge {
  gap: spacing(6);
}

.label {
  width: 100%;
}

.heading4 {
  @include heading-4;
}

.heading5 {
  @include heading-5;
}

.descriptionBody2 {
  @include body-2;
}

.descriptionBody3 {
  @include body-3;
}

.primaryText {
  color: var(--color-text-button-primary);
}

.secondaryHeading {
  color: var(--color-text-primary);
}

.secondaryDescription {
  color: var(--color-text-secondary);
}

.heading {
  text-wrap: balance;
  @include small-mobile {
    @include heading-6;
  }
}

.description {
  text-wrap: balance;
  @include small-mobile {
    @include body-3;
  }
}
