:root {
  --color-primary-50: #f9fbfb;
  --color-primary-100: #f2f5f5;
  --color-primary-200: #cddbe1;
  --color-primary-300: #aec2c9;
  --color-primary-400: #9aaeb5;
  --color-primary-600: #5d767e;
  --color-bg-subtle: #fafafa;
  --color-bg-base: #fff;
  --color-bg-secondary-disabled: #cddbe1;
  --color-bg-secondary-hover: #aec2c9;
  --color-border-base: #e8e8e8;
  --color-border-secondary: #c7d1d5;
  --color-border-primary-muted: #f2f2f2;
  --color-text-primary: #233137;
  --color-text-secondary: #515255;
  --color-text-disabled: #9aaeb5;
  --color-text-button-primary: #fff;
  --color-text-button-primary-disabled: #f2f2f2;
  --color-text-button-secondary-disabled: #9aaeb5;
  --color-icon-button-primary: #fff;
  --color-icon-secondary: #758084;
  --color-glow-brown: #a37156;
  --color-black: #000;
}
