:root {
  --color-primary-50: #f9fbfb;
  --color-primary-100: #f2f5f5;
  --color-primary-200: #cddbe1;
  --color-primary-300: #aec2c9;
  --color-primary-400: #9aaeb5;
  --color-primary-600: #5d767e;
  --color-bg-subtle: #fafafa;
  --color-bg-base: #fff;
  --color-bg-secondary-disabled: #cddbe1;
  --color-bg-secondary-hover: #aec2c9;
  --color-border-base: #e8e8e8;
  --color-border-primary-muted: #f2f2f2;
  --color-text-primary: #233137;
  --color-text-secondary: #515255;
  --color-text-disabled: #9aaeb5;
  --color-text-button-primary: #fff;
  --color-text-button-primary-disabled: #f2f2f2;
  --color-text-button-secondary-disabled: #9aaeb5;
  --color-icon-button-primary: #fff;
  --color-icon-secondary: #758084;
  --color-white-10: rgb(255 255 255 / 10%);
  --color-white-20: rgb(255 255 255 / 20%);
  --color-white-50: rgb(255 255 255 / 50%);
  --color-black-10: rgb(0 0 0 / 10%);
  --color-black-50: rgb(0 0 0 / 50%);
  --color-primary-600-70: rgb(93 118 126 / 70%);
  --color-ring-light: rgb(242 242 242 / 10%);
  --color-ring-secondary: rgb(199 209 213 / 30%);
  --color-border-muted-50: rgb(242 242 242 / 50%);
  --color-border-muted-56: rgb(242 242 242 / 56%);
  --color-shadow-card: rgb(0 0 0 / 30%);
  --color-shadow-photo: rgb(0 0 0 / 5%);
  --color-shadow-accordion: rgb(154 174 181 / 10%);
  --color-shadow-sub-accordion: rgb(35 49 55 / 3%);
  --color-glow-brown: #a37156;
  --color-black: #000;
  --color-bg-message: rgb(242 245 245 / 20%);
}
