@use "variables";

@property --shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --ring {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --inner-border-left {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --inner-border-right {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --inner-border-top {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --inner-border-bottom {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
  background: var(--color-bg-base);
}

body {
  min-height: 100vh;
  font-family: var(--font-pp-neue);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

button {
  background: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
